---
const { title } = Astro.props;

import HeroBGLeft from "@/assets/images/desktop/circuit-grid-left.png";
import HeroBGRight from "@/assets/images/desktop/circuit-grid-right.png";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link
    rel="preload"
    href="/fonts/orbitron-v35-latin-900.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link rel="preload" href={HeroBGLeft.src} as="image" type="image/webp" />
  <link rel="preload" href={HeroBGRight.src} as="image" type="image/webp" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
