---

---

<section class="divider | grid-main">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt illo, voluptatum, eos enim
    perferendis doloremque fuga unde magnam a eveniet, odio repellat. Dolor optio veritatis quaerat
    non eligendi at ducimus nihil aliquam vero similique neque id fugit, sapiente eos, sequi
    corporis aperiam quo reprehenderit maxime impedit incidunt quos libero. Pariatur.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt illo, voluptatum, eos enim
    perferendis doloremque fuga unde magnam a eveniet, odio repellat. Dolor optio veritatis quaerat
    non eligendi at ducimus nihil aliquam vero similique neque id fugit, sapiente eos, sequi
    corporis aperiam quo reprehenderit maxime impedit incidunt quos libero. Pariatur.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt illo, voluptatum, eos enim
    perferendis doloremque fuga unde magnam a eveniet, odio repellat. Dolor optio veritatis quaerat
    non eligendi at ducimus nihil aliquam vero similique neque id fugit, sapiente eos, sequi
    corporis aperiam quo reprehenderit maxime impedit incidunt quos libero. Pariatur.
  </p>
</section>

<style>
  .divider {
    background-color: var(--clr-bg-primary-dark);
    padding-block: var(--section-space);
  }
</style>
